  <div style="font-size: larger;" class="m-3 col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
  
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <br>
        <input class="rounded text-black form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <br>
        <input class="text-black rounded form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="my-2 btn-lg btn btn-primary" type="submit">signup</button>
        <br>
        <a href="/login">Login instead</a>
        <p>*Password must have of a minimum of 8 characters!</p>

      </div>
    </form>
  </div>

  <script src="./js/signup.js"></script>
  